* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: 100%;
  padding: 0 50px;
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav__item{
  margin-left: 20px;
  list-style: none;
  text-transform: uppercase;

}

.nav__link{
  text-decoration: none;
  color: #000;
  display: flex;
  height: 60px;
}
